#bd_gantt {
	height: 100%;
}

.b-popup.b-gantt-task-tooltip {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 12px !important;
}

.b-gridbase.b-container {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 12px !important;

	.b-sch-header-text,
	.b-grid-header-text,
	.b-widget {
		font-weight: bold !important;
	}
}

.b-grid-header-container {
	// Header cell
	box-shadow: unset !important;
	border-bottom: unset !important;

	.b-grid-header {
		background-color: #f8f8f8 !important;
		border-right: 0px !important;
	}

	// All upper dates row children
	.b-sch-header-row-0 * {
		border-right-color: #f8f8f8 !important;
	}

	// All lower dates row children
	.b-sch-header-row-1 * {
		background-color: #ffffff !important;
	}

	.b-sch-header-timeaxis-cell {
		border-right-color: #F7F9F9 !important;
		border-bottom-color: #F7F9F9 !important;
	}
}

.b-grid-cell {
	color: #000000;
}

.b-gantt-task-parent:not(.b-milestone-wrap) .b-gantt-task {
	background-color: #62A2FF !important;
}

.b-gantt-task {
	background-color: #22B918 !important;
}

.b-gantt-critical-paths .b-gantt-task.b-critical {
	background-color: #DE0004 !important;
}

.b-columnlines .b-grid-cell:not(:last-child){
	border-right: unset !important;
}

.b-grid-row {
	border-bottom-color: #F7F9F9 !important;
}
