.bd-dropdown-btn {
	height: 32px;

	.dropdown {
		text-align: center;
		font: normal normal medium 15px/19px Montserrat;
		font-family: Montserrat;
		font-size: 15px;
		letter-spacing: 0px;
		color: #818181;
		opacity: 1;
	}
}
